.register_container {
    width: 100%;
    max-width: 480px;
    border-radius: 6px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 30px;
    margin: 0 auto;
}

.register_container p {
    color: rgba(255, 255, 255);
    font-size: 26px;
    text-align: center;
    margin-bottom: 30px;
}

.register_container p:last-child {
    font-size: 18px;
    cursor: pointer;
}

.register_form { 
    width: 100%;
    max-width: 340px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.register_form .input_password {
    width: 100%;
    position: relative;
}

.register_form .input_password .eye {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    right: 8px;
    width: 40px;
    height: 40px;
    fill: rgb(85, 85, 85);
    cursor: pointer;
    padding: 8px;
}

.register_form .input_password .eye:hover {
    fill: rgb(36, 36, 36);
}

.register_form .input_wrap {
    width: 100%;
}

.register_form .label_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6px 0;
}

.register_form .hint {
    color: rgb(226 226 226);
    padding-right: 4px;
    text-align: right;

}

.register_form .input_wrap .label {
    padding: 0 30px 0 4px;
    color: white;
}

.register_form button,
.register_form .input { 
    appearance: none;
    width: 100%;
    box-sizing: border-box;
    color: rgba(65, 65, 65);
    background-color: rgba(255, 255, 255, 0.6);
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    padding: 0 20px;
    height: 40px;
    margin-bottom: 10px;
}

.register_form input::placeholder { 
    color: rgba(65, 65, 65);
}

.register_form .checkbox {
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 10px;
}

.register_form .checkbox input {
	position: absolute;
	z-index: -10;
	opacity: 0;
}

.register_form .remember {
	position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.register_form .remember::before {
    box-sizing: border-box;
    content: "";
    display: inline-block;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    height: 24px;
    width: 24px;
    margin-right: 12px;
    vertical-align: middle;
    
}

.register_form .checkbox_input[type="checkbox"]:checked + .remember::before {
    border: 2px solid rgba(255, 255, 255, 0.7);
    background: no-repeat url(../../img/check.svg);
    background-position: center;
}

.register_form .checkbox span {
    margin: 0 4px 0 auto;
    cursor: pointer;
}

.register_form .submit {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 20px 0;
}

.register_form .submit:hover {
    background-color: rgba(255, 255, 255, 0.4);
    border: 4px solid rgba(255, 255, 255, 0.7);
    color: rgb(255, 255, 255);
    font-size: 20px;
}
