.categories {
    width: 100%;
    max-width: 400px;
    border-radius: 6px;
    overflow: hidden;
}

.categories a {
    color: inherit;
    display: block;
    background-color: rgba(255, 255, 255, 0.9);
}

.categories li {
    line-height: 44px;
    padding: 0 20px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}

.categories a:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.8);
}

.categories li:hover,
.categories li:active {
    border-bottom: 2px solid rgb(255, 165, 0);
    background-color: rgba(255, 255, 255, 1);
    color: rgb(255, 165, 0);
}
